.results-list{
    width: 100%;
    background-color: #1a1969;
    color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10rem;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: scroll;
}