@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body{
  /* background-color: #fffffff9; */
  background-color: #f5dced;
}

a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.container{
   padding-left: 10%;
   padding-right: 10%;    
   background-color: #f5dced;
   /* background-color: #fff; */
   color: #1d0877;
   text-align: center;
   padding-top: 2%;

}


.btn{
  background-color: rgb(168, 35, 35);
  color: #fff;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
}

.btn1{
  background-color: #1d0877;
  color: #fff;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
}

/*------------------------Media Query------------------------*/

@media(max-width: 1200px){
  .container{
    padding-left: 5%;
    padding-right: 5%;
  }
  .btn{
    padding: 14px 15px;
  }
  .btn1{
    padding: 14px 15px;
  }
}

/* 
@media(max-width: 860px){
  .container{
    padding-left: 5%;
    padding-right: 5%; 
    width: 100%;
  }
  .btn{
    background-color: rgb(168, 35, 35);
    color: #fff;
    padding: 10px 5px;
    font-size: 12px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    outline: 0;
  }
  
  .btn1{
    background-color: #1d0877;
    color: #fff;
    padding: 10px 5px;
    font-size: 12px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    outline: 0;
  }
}

@media(max-width: 720px){
  .container{
    width: 100%;
  }
  .btn{
    background-color: rgb(168, 35, 35);
    color: #fff;
    padding: 10px 5px;
    font-size: 12px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    outline: 0;
  }
  
  .btn1{
    background-color: #1d0877;
    color: #fff;
    padding: 10px 5px;
    font-size: 12px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    outline: 0;
  }
}

@media(max-width: 640px){
  .container{
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
  }

  .btn{
    background-color: rgb(168, 35, 35);
    color: #fff;
    padding: 10px 5px;
    font-size: 12px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    outline: 0;
  }
  
  .btn1{
    background-color: #1d0877;
    color: #fff;
    padding: 10px 5px;
    font-size: 12px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    outline: 0;
  }

}

@media(max-width: 470px){
  .container{
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
  }
  .btn{
    background-color: rgb(168, 35, 35);
    color: #fff;
    padding: 10px 5px;
    font-size: 12px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    outline: 0;
  }
  
  .btn1{
    background-color: #1d0877;
    color: #fff;
    padding: 10px 5px;
    font-size: 12px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    outline: 0;
  }
}

@media(max-width: 420px){
  .container{
    width: 102%;
  }
  .btn{
    background-color: rgb(168, 35, 35);
    color: #fff;
    padding: 10px 5px;
    font-size: 12px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    outline: 0;
  }
  
  .btn1{
    background-color: #1d0877;
    color: #fff;
    padding: 10px 5px;
    font-size: 12px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    outline: 0;
  }
}

@media(max-width: 380px){
  .container{
    width: 100%;
  }
  .btn{
    background-color: rgb(168, 35, 35);
    color: #fff;
    padding: 10px 5px;
    font-size: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    outline: 0;
  }
  
  .btn1{
    background-color: #1d0877;
    color: #fff;
    padding: 10px 5px;
    font-size: 8px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    outline: 0;
  }
}
 */
